.homeDiv {
    height: 200px;
    width: 80vw;
    border-bottom: solid 2px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 6em;
    color: rgb(253, 78, 78);
}

.smallTitle {
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(253, 78, 78);
    height: 200px;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.link:hover {
    color: lightcyan; 
}

.pokeball {
    width: 100px;
    height: 100px;
}