.listItem {
    list-style: none;
    margin: 20px;
}

.pokemonList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline-start: 0px;
}

.cardLink {
    text-decoration: none;
}