.inputSearch {
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid lightgrey;
}

.button:hover {
    background-color: rgb(206, 26, 26);
}

.button {
    cursor: pointer;
    background-color: rgb(253, 78, 78);
    border: none;
    border-radius: 4px;
    padding: 9px 19px;
    color: white;
}

select {
    cursor: pointer;
    background-color: rgb(253, 78, 78);
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    color: white;
    margin: 2px;
}