.h1 {
    font-size: 6em;
    color: rgb(253, 78, 78);
    margin: none;
}

.div {
    height: 200px;
    width: 80vw;
    border-bottom: solid 2px rgb(253, 78, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.underlineNone {
    text-decoration: none;
}

.underlineNone:hover {
    font-size: 1.1em;
    cursor: pointer;
}